[Noriben]
procmon = procmon.exe    # Change this if you have a renamed procmon.exe
generalize_paths = True  # Generalize paths to their base environment variable
debug = False            # Debugging collects additional information during execution for troubleshooting bugs
headless = False         # 
troubleshoot = False     # If True pause before all exits
timeout_seconds = 0      # Set to 0 to manually end monitoring with Ctrl-C
virustotal_api_key =     # Set VirusTotal API here
yara_folder =
hash_type = SHA256
txt_extension = txt
output_folder = 
global_approvelist_append = 


[Noriben_host]
# vmrun = C:\Program Files (x86)\VMware\VMware Workstation\vmrun.exe    # For Windows
vmrun = /Applications/VMware Fusion.app/Contents/Library/vmrun
debug = False
# timeout_seconds = 300
timeout_seconds = 10
# vmx = E:\VMs\Windows.vmwarevm\Windows.vmx
vmx = ~/VMs/Win10\ Malware.vmwarevm/Win10\ Malware.vmx
#vm_snapshot = YourVMSnapshotNameHere
vm_snapshot = 1 Mar 21
vm_user = Admin
vm_pass = password
noriben_path = C:\Users\{}\Desktop #.format(VM_USER)
guest_noriben_path = C:\Users\{}\Desktop\
host_noriben_path = 
procmon_config_path = C:\Users\{}\Desktop\ProcmonConfiguration.pmc
report_path_structure = {}/{}_NoribenReport.zip  # (host_malware_path, host_malware_name_base)
host_screenshot_path_structure = {}/{}.png  # (host_malware_path, host_malware_name_base)
guest_log_path = C:\Noriben_Logs
guest_zip_path = C:\Tools\UnixUtils\zip.exe
guest_temp_zip = C:\Noriben_Logs\NoribenReports.zip
# guest_python_path = C:\Program Files (x86)\Python36-32\python.exe
guest_python_path = C:\Users\Admin\AppData\Local\Programs\Python\Python39\python.exe
guest_malware_path = C:\Malware\malware_
error_tolerance = 5
dontrun = False


[filters]
# Rules for creating rules:
# 1. Every rule string must begin with the `r` for regular expressions to work.
# 1.a. This signifies a 'raw' string.
# 2. No backslashes at the end of a filter. Either:
# 2.a. truncate the backslash, or
# 2.b. use '\*' to signify 'zero or more slashes'.
# 3. To find a list of available '%%' variables, type `set` from a command prompt

# These entries are applied to all approvelists
global_approvelist = [
        r'VMwareUser.exe',      # VMware User Tools
        r'CaptureBAT.exe',      # CaptureBAT Malware Tool
        r'SearchIndexer.exe',   # Windows Search Indexer
        r'Fakenet.exe',         # Practical Malware Analysis FakeNET
        r'idaq.exe',            # IDA Pro
        r'ngen.exe',            # Windows Native Image Generator
        r'ngentask.exe',        # Windows Native Image Generator
        r'consent.exe',         # Windows UAC prompt
        r'taskhost.exe',
        r'SearchIndexer.exe',
        r'RepUx.exe',
        r'RepMgr64.exe',
        r'Ecat.exe',
        r'WindowsApps\Microsoft.Windows.Photos.*\Microsoft.Photos.exe',
        r'Microsoft Visual Studio\Installer\resources\app\ServiceHub\Services\Microsoft.VisualStudio.Setup.Service\BackgroundDownload.exe',
        config['procmon'],
        config['procmon'].split('.')[0] + '64.exe'  # Procmon drops embed as <name>+64
        ]

cmd_approvelist = [
        r'AppData\Local\Microsoft\OneDrive\StandaloneUpdater\OneDriveSetup.exe', # MS is so noisy
        r'%SystemRoot%\system32\wbem\wmiprvse.exe',
        r'%SystemRoot%\system32\wscntfy.exe',
        r'wuauclt.exe',
        r'jqs.exe',
        r'avgrsa.exe',  # AVG AntiVirus
        r'avgcsrva.exe',  # AVG AntiVirus
        r'avgidsagenta.exe',  # AVG AntiVirus
        r'Program File.*\Microsoft\EdgeUpdate\MicrosoftEdgeUpdate.exe',
        r'TCPView.exe',
        r'%WinDir%\System32\mobsync.exe',
        r'XblGameSaveTask.exe',
        r'/Processid:{AB8902B4-09CA-4BB6-B78D-A8F59079A8D5}',  # Thumbnail server
        r'/Processid:{F9717507-6651-4EDB-BFF7-AE615179BCCF}',  # DCOM error
        r'\??\%WinDir%\system32\conhost.exe .*-.*-.*-.*'  # Experimental
        ]

file_approvelist = [
        r'Desired Access: Execute/Traverse',
        r'Desired Access: Synchronize',
        r'Desired Access: Generic Read/Execute',
        r'Desired Access: Read EA',
        r'Desired Access: Read Data/List',
        r'Desired Access: Generic Read, ',
        r'Desired Access: Read Attributes',

        r'desktop.ini$',
        r'Google\Chrome\User Data\.*.tmp',
        r'Microsoft\Windows\Explorer\iconcache_*',
        r'Microsoft\Windows\Explorer\thumbcache_.*.db',
        r'Thumbs.db$',
        r'wuauclt.exe',
        r'wmiprvse.exe',

        r'%AllUsersProfile%\Application Data\Microsoft\OFFICE\DATA',
        r'%AllUsersProfile%\Microsoft\MapData\*',
        r'%AllUsersProfile%\Microsoft\RAC',
        r'%AllUsersProfile%\Microsoft\Windows\AppRepository\StateRepository',
        r'%AppData%\Microsoft\Proof\*',
        r'%AppData%\Microsoft\Templates\*',
        r'%AppData%\Microsoft\Windows\Recent\AutomaticDestinations\1b4dd67f29cb1962.automaticDestinations-ms',
        r'%LocalAppData%\Google\Drive\sync_config.db*',
        r'%LocalAppData%\GDIPFONTCACHEV1.DAT',
        r'%LocalAppData%\Microsoft\OneDrive\StandaloneUpdater\*',
        r'%LocalAppData%\Microsoft\VSApplicationInsights\vstelAIF',
        r'%LocalAppData%\Packages\Microsoft.Windows.Photos_',
        r'%ProgramFiles%\Capture\*',
        r'%SystemDrive%\Python',
        r'%SystemRoot%\assembly',
        r'%SystemRoot%\Microsoft.NET\Framework64',
        r'%SystemRoot%\Prefetch\*',
        r'%SystemRoot%\system32\wbem\Logs\*',
        r'%SystemRoot%\System32\LogFiles\Scm',
        r'%SystemRoot%\System32\Tasks\Microsoft\Windows',  # Some may want to remove this
        r'%UserProfile%$',
        r'%UserProfile%\Desktop$',
        r'%UserProfile%\AppData\LocalLow$',
        r'%UserProfile%\Recent\*',
        r'%UserProfile%\Local Settings\History\History.IE5\*',
        r'%WinDir%\AppCompat\Programs\RecentFileCache.bcf',
        r'%WinDir%\ServiceProfiles\LocalService\AppData\Local\FontCache\Fonts\*',
        r'%WinDir%\ServiceProfiles\LocalService\AppData\Local\Microsoft\Dlna\*',
        r'%WinDir%\SoftwareDistribution\DataStore\DataStore.edb',
        r'%WinDir%\SoftwareDistribution\DataStore\Logs\edb....',
        r'%WinDir%\SoftwareDistribution\ReportingEvents.log',
        r'%WinDir%\System32\catroot2\edb....',
        r'%WinDir%\System32\config\systemprofile\AppData\LocalLow\Microsoft\CryptnetUrlCache\MetaData\*',
        r'%WinDir%\System32\spool\drivers\*',
        r'%WinDir%\Temp\fwtsqmfile00.sqm',  # Software Quality Metrics (SQM) from iphlpsvc
        r'MAILSLOT\NET\NETLOGON',
        r'Windows\Temporary Internet Files\counters.dat',
        r'Program Files.*\confer\*'
        ]

reg_approvelist = [
        r'CaptureProcessMonitor',
        r'consent.exe',
        r'verclsid.exe',
        r'wmiprvse.exe',
        r'wscntfy.exe',
        r'wuauclt.exe',
        r'PROCMON',
        r'}\DefaultObjectStore\*',
        r'}\LocalState\SessionSummaryData\.*\*',

        r'HKCR$',
        r'HKCR\AllFilesystemObjects\shell',

        r'HKCU$',
        r'HKCU\Printers\DevModePerUser',
        r'HKCU\SessionInformation\ProgramCount',
        r'HKCU\Software$',
        r'HKCU\Software\Classes\Software\Microsoft\Windows\CurrentVersion\Deployment\SideBySide',
        r'HKCU\Software\Classes\Local Settings\MuiCache\*',
        r'HKCU\Software\Classes\Local Settings\MrtCache\*',
        r'HKCU\Software\Classes\Local Settings\Software\Microsoft\Windows\CurrentVersion\SyncMgr\*',
        r'HKCU\Software\Classes\Local Settings\Software\Microsoft\Windows\Shell\*',
        r'HKCU\Software\Microsoft\Calc$',
        r'HKCU\Software\Microsoft\.*\Window_Placement',
        r'HKCU\Software\Microsoft\Internet Explorer\TypedURLs',
        r'HKCU\Software\Microsoft\Notepad',
        r'HKCU\Software\Microsoft\Office',
        r'HKCU\Software\Microsoft\Shared Tools',
        r'HKCU\Software\Microsoft\SystemCertificates\Root$',
        r'HKCU\Software\Microsoft\VisualStudio\*',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Applets',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\CIDOpen',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\CIDSave\Modules\GlobalSettings',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\ComDlg32\.*MRU.*',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Modules',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\MountPoints2',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\RunMRU',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\SessionInfo',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\StartPage',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\StartPage2',
        r'HKCU\Software\Microsoft\Windows\Currentversion\Explorer\StreamMRU',
        r'HKCU\Software\Microsoft\Windows\Currentversion\Explorer\Streams',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Group Policy',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\HomeGroup',
        r'HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Wpad\*',
        r'HKCU\Software\Microsoft\Windows\Shell',
        r'HKCU\Software\Microsoft\Windows\Shell\BagMRU',
        r'HKCU\Software\Microsoft\Windows\Shell\Bags',
        r'HKCU\Software\Microsoft\Windows\ShellNoRoam\MUICache',
        r'HKCU\Software\Microsoft\Windows\ShellNoRoam\BagMRU',
        r'HKCU\Software\Microsoft\Windows\ShellNoRoam\Bags',
        r'HKCU\Software\Microsoft\Windows NT\CurrentVersion\Devices',
        r'HKCU\Software\Microsoft\Windows NT\CurrentVersion\PrinterPorts\*',
        r'HKCU\Software\Microsoft\Windows NT\CurrentVersion\Windows\UserSelectedDefault',
        r'HKCU\Software\Policies$',
        r'HKCU\Software\Policies\Microsoft$',

        r'HKLM$',
        r'HKLM\.*\Enum$',
        r'HKLM\Software$',
        r'HKLM\Software\Microsoft\Cryptography\RNG\Seed',  # Some people prefer to leave this in.
        r'HKLM\Software\Microsoft$',
        r'HKLM\SOFTWARE\Microsoft\Device Association Framework\Store\*',
        r'HKLM\Software\MICROSOFT\Dfrg\Statistics',
        r'HKLM\Software\Microsoft\Reliability Analysis\RAC',
        r'HKLM\Software\MICROSOFT\SystemCertificates$',
        r'HKLM\Software\Microsoft\WBEM',
        r'HKLM\Software\Microsoft\Windows\CurrentVersion\Group Policy\History\PolicyOverdue',
        r'HKLM\Software\Microsoft\Windows\CurrentVersion\Group Policy\State\Machine\Extension-List',
        r'HKLM\Software\Microsoft\Windows\CurrentVersion\Installer\UserData\S-1-5-18\Products',
        r'HKLM\Software\Microsoft\Windows\CurrentVersion\Internet Settings\Cache\Paths\*',
        r'HKLM\Software\Microsoft\Windows\CurrentVersion\MMDevices\Audio\Render',
        r'HKLM\Software\Microsoft\Windows\CurrentVersion\Shell Extensions',
        r'HKLM\Software\Microsoft\Windows Media Player NSS\*',
        r'HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Appraiser\*',
        r'HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Inventory',
        r'HKLM\Software\Microsoft\Windows NT\CurrentVersion\NetworkList\Nla\Cache\*',
        r'HKLM\Software\Microsoft\Windows NT\CurrentVersion\Prefetcher\*',
        r'HKLM\Software\Microsoft\Windows NT\CurrentVersion\Print\*',
        r'HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\ProfileList\.*\RefCount$',
        r'HKLM\Software\Microsoft\Windows NT\CurrentVersion\Tracing\*',

        r'HKLM\Software\Policies$',
        r'HKLM\Software\Policies\Microsoft$',
        r'HKLM\Software\Wow6432Node\Google\Update\ClientState\{',
        r'HKLM\Software\Wow6432Node\Google\Update\old-uid',
        r'HKLM\Software\Wow6432Node\Google\Update\uid',

        r'HKLM\System\CurrentControlSet\Control\Class\{.*-E325-11CE-BFC1-08002BE10318}',
        r'HKLM\System\CurrentControlSet\Control\Class\{6bdd1fc6-810f-11d0-bec7-08002be2092f}',
        r'HKLM\System\CurrentControlSet\Control\DeviceClasses',
        r'HKLM\System\CurrentControlSet\Control\DeviceContainers\{.*}\Properties\{.*}\*',
        r'HKLM\System\CurrentControlSet\Control\MediaProperties',
        r'HKLM\System\CurrentControlSet\Control\Network\{.*-e325-11ce-bfc1-08002be10318}',
        r'HKLM\System\CurrentControlSet\Control\Network\NetCfgLockHolder',
        r'HKLM\System\CurrentControlSet\Control\NetworkSetup2\Interfaces\{.*}\*',
        r'HKLM\System\CurrentControlSet\Control\Nsi\{eb004a03-9b1a-11d4-9123-0050047759bc}',
        r'HKLM\System\CurrentControlSet\Control\Print\Environments\*',
        r'HKLM\System\CurrentControlSet\Enum\*',
        r'HKLM\System\CurrentControlSet\Services\CaptureRegistryMonitor',
        r'HKLM\System\CurrentControlSet\Services\Eventlog\*',
        r'HKLM\System\CurrentControlSet\Services\iphlpsvc\*',
        r'HKLM\System\CurrentControlSet\Services\ksthunk\*',
        r'HKLM\System\CurrentControlSet\Services\NetBT\*',
        r'HKLM\System\CurrentControlSet\Services\SharedAccess\Epoch2',
        r'HKLM\System\CurrentControlSet\Services\Tcpip\Parameters',
        r'HKLM\System\CurrentControlSet\Services\Tcpip6\Parameters',
        r'HKLM\System\CurrentControlSet\Services\tunnel\*',
        r'HKLM\System\CurrentControlSet\Services\W32Time\*',
        r'HKLM\System\CurrentControlSet\Services\WinSock2\Parameters',
        r'HKLM\System\CurrentControlSet\Services\WSD',
        r'HKLM\System\CurrentControlSet\Services\VSS\Diag',
        r'HKLM\SYSTEM\Maps\*',

        r'HKU\.DEFAULT\Printers\*',
        r'HKU\.DEFAULT\SOFTWARE\Classes\Local Settings\MuiCache',

        r'LEGACY_CAPTUREREGISTRYMONITOR',
        r'Microsoft\Device Association Framework\Store\DAFUPnPProvider',
        r'Microsoft\EdgeUpdate\ClientState\{.*}\CurrentState\*',
        r'Microsoft\Windows\CurrentVersion\Internet Settings\Wpad\*',
        r'Root\InventoryD.*\*',
        r'Software\Microsoft\Multimedia\Audio$',
        r'Software\Microsoft\Multimedia\Audio Compression Manager',
        r'Software\Microsoft\Windows\CurrentVersion\Explorer\MenuOrder',
        r'Software\Microsoft\Windows\ShellNoRoam\Bags',
        r'Software\Microsoft\Windows\ShellNoRoam\BagMRU',
        r'Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.doc',
        r'Software\Microsoft\Windows\CurrentVersion\Explorer\RecentDocs',
        r'Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders',
        r'Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders',
        r'UserAssist\{5E6AB780-7743-11CF-A12B-00AA004AE837}',
        r'UserAssist\{75048700-EF1F-11D0-9888-006097DEACF9}',
        r'UserAssist\{CEBFF5CD-ACE2-4F4F-9178-9926F41749EA}'
        ]

net_approvelist = [
        r'hasplms.exe'  # Hasp dongle beacons
        # r'192.168.2.',                     # Example for blocking net ranges
        # r'Verizon_router.home']            # Example for blocking local domains
        # r' -> .*\..*\..*\..*:1900
        ]

hash_approvelist = [
        r'f8f0d25ca553e39dde485d8fc7fcce89',  # WinXP ntdll.dll
        r'b60dddd2d63ce41cb8c487fcfbb6419e',  # iexplore.exe 8.0
        r'6fe42512ab1b89f32a7407f261b1d2d0',  # kernel32.dll
        r'8b1f3320aebb536e021a5014409862de',  # gdi32.dll
        r'b26b135ff1b9f60c9388b4a7d16f600b',  # user32.dll
        r'355edbb4d412b01f1740c17e3f50fa00',  # msvcrt.dll
        r'd4502f124289a31976130cccb014c9aa',  # rpcrt4.dll
        r'81faefc42d0b236c62c3401558867faa',  # iertutil.dll
        r'e40fcf943127ddc8fd60554b722d762b',  # msctf.dll
        r'0da85218e92526972a821587e6a8bf8f'   # imm32.dll
        ]
